@model int

<div class="container row">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Order Placed Successfully</h1>
        Your order number is : @Model <br /><br />
        <img src="~/images/png-transparent-e-commerce-online-shopping-ui-money-success-payment-basic-e-commerce-line-color-icon.png" />
    </div>
    <div class="col-12 text-center">
        <br />
        Your order has been placed successfully! <br /> 
    </div>
</div>