@model Company
<form method="post" enctype="multipart/form-data">
    <input asp-for="Id" hidden />
    <div class="row m-4">
        <div class="col-12">
            <div class="border pt-4 row">
                <div class="mb-3 col-12">
                    <h2 class="text-primary">
                        @(Model.Id != 0 ? "Update" : "Create") Company
                    </h2>
                </div>
                <div class="mb-3 col-12 col-md-6">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" placeholder="Company Name" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="mb-3 col-12 col-md-6">
                    <label asp-for="StreetAdress"></label>
                    <input asp-for="StreetAdress" class="form-control" placeholder="Street Adress" />
                    <span asp-validation-for="StreetAdress" class="text-danger"></span>
                </div>
                <div class="mb-3 col-12 col-md-6">
                    <label asp-for="City"></label>
                    <input asp-for="City" class="form-control" placeholder="City" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
                <div class="mb-3 col-12 col-md-6">
                    <label asp-for="State"></label>
                    <input asp-for="State" class="form-control" placeholder="State" />
                    <span asp-validation-for="State" class="text-danger"></span>
                </div>
                <div class="mb-3 col-12 col-md-6">
                    <label asp-for="PostalCode"></label>
                    <input asp-for="PostalCode" class="form-control" placeholder="Postal Code" />
                    <span asp-validation-for="PostalCode" class="text-danger"></span>
                </div>
                <div class="mb-3 col-12 col-md-6">
                    <label asp-for="PhoneNumber"></label>
                    <input asp-for="PhoneNumber" class="form-control" placeholder="Phone Number" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="col-12 pb-4">
                    <button type="submit" class="btn btn-primary" style="width:150px">@(Model.Id != 0 ? "Update" : "Create")</button>
                    <a class="btn btn-secondary" asp-controller="Company" asp-action="Index" style="width:150px">Back To List</a>
                </div>
            </div>
        </div>
    </div>
    
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}